<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="img-responsive" class="navbar-brand" href="/"><img src="/img/logo.png" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="black-text" href="/">Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="banner" class="container-fluid">
    <div class="row">
        <div class="center">
            <div id="home">
                <h1 class="black-text">Log In</h1>
                <div class="col-md-12">
                    <input type="text" class="black-text text-center" placeholder="Email">
                    <input type="password" class="black-text text-center" placeholder="Password">
                </div>
                <a class="btn btn-primary" href="/profile">Log In</a>
            </div>
        </div>
    </div>
</div>