<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="img-responsive" class="navbar-brand" href="/"><img src="/img/logo.png" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="black-text" href="/profile"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                <li><a class="black-text" href="/profile"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                <li><a class="black-text" href="/feed">GIVE HELP</a></li>
                <li><a class="black-text" href="/request">GET HELP</a></li>
                <li><a class="black-text" href="/">LOG OUT</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center wow fadeIn">
            <h1 class="display">I need Help!</h1>
            <hr>
            <h1 class="wow fadeInLeftBig">What do your need help with?</h1>
            <textarea placeholder="I need help with..."></textarea>
            <hr>
            <h1 class="wow fadeInRightBig">Where are you?</h1>
            <select>
                <option>Seattle</option>
                <option>San Fransisco</option>
                <option>New York</option>
                <option>Austin</option>
            </select>
            <form>
                <input id="checkbox" type="checkbox" name="yes" value="yes">This can be done remote
            </form>
            <hr>
            <h1 class="wow fadeInRightBig">How much help do you needs</h1>
            <input type="number">helper(s)
            <h1 class="wow fadeInLeftBig">Skills Required</h1>
            <input type="text" placeholder="Enter the required skills">
            <h1 class="wow fadeInRightBig">When?</h1>
            <input type="date">
            <a class="btn btn-primary" href="/confirm">Post!</a>
        </div>
    </div>
</div>